<!-- voter_analytics/templates/voter_analytics/base.html -->
<!--
File: base.html
Author: Esha Wadher (eshaaw@bu.edu), 02/13/2026
Description:
Base template for the voter website. This file defines the
overall page layout and includes the shared navigation bar and
content blocks that other templates extend.
-->

{% load static %}
<html>

<head>
    <title>Voter Analytics</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'voters' %}">Voter List</a></li>
                <li><a href="{% url 'graphs' %}">Graphs</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

</body>

</html>