<!--
File: graphs.html
Author: Esha Wadher (eshaaw@bu.edu), 03/20/2026
Description:
this is the template that displays the voter details for teh webpage .
-->
{% extends 'voter_analytics/base.html' %}

{% block content %}

<h2>Voter Detail</h2>

<p><strong>Name:</strong> {{ voter.first_name }} {{ voter.last_name }}</p>
<p><strong>Street Address:</strong> {{ voter.street_number }} {{ voter.street_name }}</p>
<p><strong>Apartment Number:</strong> {{ voter.apartment_number }}</p>
<p><strong>Zip Code:</strong> {{ voter.zip_code }}</p>
<p><strong>Date of Birth:</strong> {{ voter.date_of_birth }}</p>
<p><strong>Date of Registration:</strong> {{ voter.date_of_registration }}</p>
<p><strong>Party Affiliation:</strong> {{ voter.party_affiliation }}</p>
<p><strong>Precinct Number:</strong> {{ voter.precinct_number }}</p>
<p><strong>Voter Score:</strong> {{ voter.voter_score }}</p>

<p><strong>v20state:</strong> {{ voter.v20state }}</p>
<p><strong>v21town:</strong> {{ voter.v21town }}</p>
<p><strong>v21primary:</strong> {{ voter.v21primary }}</p>
<p><strong>v22general:</strong> {{ voter.v22general }}</p>
<p><strong>v23town:</strong> {{ voter.v23town }}</p>

<p>
    <a
        href="https://www.google.com/maps/search/{{ voter.street_number }} {{ voter.street_name }} Newton MA {{ voter.zip_code }}">
        View on Google Maps
    </a>
</p>

{% endblock %}