{% extends 'hw/base.html' %}
{% block content %}
        <h1>
            About this page
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deserunt, debitis sunt et earum quod officiis eum, explicabo unde obcaecati soluta, qui veritatis harum modi beatae similique pariatur ad repellendus.

        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, doloremque? Distinctio consectetur alias, dolorum doloribus voluptatum ipsa nulla saepe? Voluptatem asperiores, fuga culpa unde enim fugiat. Nulla quam eveniet veniam.
        </p>
        This page was brought to you by the letters {{letter1}} and {{letter2}}, and by the number {{number}}.
        <hr>
        The current time is {{current_time}}.
{% endblock %}
    