body {
    background-color: black;
    color: white;
    font-family: 'Georgia', 'Times New Roman', serif; /* Change to serif font */
    max-width: 960px;
    margin: 20px auto;
    padding: 0;
    padding-bottom: 100px;
    min-height: 100vh;
    line-height: 1.6; /* ADD THIS - better line spacing */
    font-size: 18px; /* ADD THIS - slightly larger text */
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    text-align: center;
    margin: 0;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: calc(2rem);
    letter-spacing: 0.2em;
    text-transform: uppercase; 
}

h2,h3,h4,h5{
    font-size: calc(2rem/2);
}


a, a:visited {
    color: white;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

a:hover {
    color: #25343F;
    text-decoration: none;
    /* background-color: white; */
    /* font-weight: bold; */
}

/* body {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px auto;
} */

header {
    width: 100vw;
    margin-inline-start: calc(-50vw + 50%);
    position: relative;
    bottom: 0px;
    padding: 10px 20px;
    left: 0;
    text-align: center;
    font-size: calc(2rem + 1.5vw);
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase; 
    background-color: rgba(44, 62, 80, 0.8);

} 

header h1 {
    margin: 0;
    font-size: calc(2rem + 1.5vw);
    letter-spacing: 0.15em; /* ADD THIS for header specifically */
    text-transform: uppercase; /* ADD THIS */
}

footer {
    width: 100vw;
    margin-inline-start: calc(-50vw + 50%);
    background-color: rgba(44, 62, 80, 0.8);
    position: relative;
    bottom: 0px;
    padding: 10px 20px;
    left: 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase; 
    color: white;
}


.wrapper {              /* centering and margin around whole wrapper element */
    border: 2px solid;
    max-width: 100%;
    position: relative;
    top: 50px;
    scroll-padding-top: 100px;
    scroll-padding-bottom: 100px;
    padding-bottom: 50px;
    
    /* top:100px; */
    /* bottom: 100px; */
}


div.wrapper h1 {
    text-align: center;
    color: darkblue;
    /* margin: 10px auto; */
    font-size: 2.4 em; 

}

div.wrapper h2 {
    text-align: left;
    color: darkblue;
    /* margin: 5px auto; */
    font-size: 2 em; 
}


section {
    border: 2px solid darkblue;    /* border around each event */
    position: relative;
    padding-bottom: 4px;
}


nav {
    /* justify-self: end; */
    background: none;
    color: #25343F;
    /* padding: 10px 0; */
    /* border: 1px solid; */
}

nav li {
    display: inline-block;
}

nav li a{
    color: darkblue;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block; /* Make the whole area clickable */
    font-weight: bold;
}
nav li :hover{
    color: white;
}

nav button {
    background: none;
    color: slategray;
    font-family: "Montserrat", sans-serif;
    cursor: pointer; 
    border: 0;
    font-size: 1.2 em;
}

.mc-table {
    display: table;
    width: 100%;
    table-layout: fixed;
}


.mc-table-head {
    border: 1px dashed darkblue;    /*border around each row */
    display: table-row;
    font-size: 1.2em;
}

.mc-table-head .detail {
    display: table-cell;
    color:darkblue;
    font-weight: bold;
    background-color: white;
    padding: 5px;
    position: relative;
   
}

.mc-table-row  {
    display: table-row;
    border: 1px dashed white;    
    background-color: white;
}


.mc-table-row .detail {
    color:darkblue;
    display: table-cell;
   
    padding: 5px;
}

.mc-table-row .detail img {
    max-height: 75px;
    align-content: right;
    
}

/* must have no space before :hover */
.mc-table-row:hover {
    background-color: aliceblue;    
    border: 1px solid;
}

.site-form {
    margin-top: 10px;
    /* border: 2px solid darkblue; */
    padding: 10px;
}

/* style the forms with class site-form */
.site-form input, .site-form textarea, .site-form select {
    display: block;
    margin: 5px 0 0 0;
    padding: 5px;
}

/* style the submit button ; didn't quite work?? */
.site-form input [type="submit"] {
    background: slategray;
    border: 0;
    color: #fff;
    font-size: 1.2em;
    border-radius: 4px;
    margin: 5px 0;
}


/* style the help text in the forms */
.helptext, .helptext.ul {
    margin-top: 0 auto;
    bottom: 20px;
    color: #bbb;
    font-size: 0.9em;
}

/* style the error list in the forms validation */
.errorlist li {
    padding: 10px;
    list-style-type: none;
    border: 1px solid crimson;
    color: crimson;
    margin: 10px 0;
}


.errorlist {
    padding: 0px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;  
    height: 400px; 
    object-fit: cover;
}
.main-page{
    padding: 20px;
}

.intro-text{
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.8;
    font-size: 17px;
}
.restaurant-img{
    text-align: center;
    margin: 30px 0;
}
.info-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    border: 1px solid #ddd;
    margin: 50px auto;
    max-width: 1200px;
}

.info-column{
    border-right: 1px solid #ddd;
    padding: 40px 30px;
    text-align: center;
}

.info-column h3{
    font-size: 1.2 rem;
    letter-spacing: 0.15em;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.info-column p{
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 15px;
}

.info-column strong{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.05em;
}

.outline{
    display: inline-block;
    padding: 12px 25px;
    border: 2px solid white;
    color: white;
    text-decoration: non;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.1em;
    font-weight: 600;
    transition: all 0.3s;
    margin: 10px 0;
}
.outline:hover{
    background-color: #333;
    color: white;
}




/* responsive styles when width is less than 1400px */
@media screen and (max-width: 560px) {
    header h1 {
        font-size: 0.8em;
    }

    nav li {
        display: block;
        margin-left: 0px;
        font-size: 14px;
        width: 100%;
    }
    
    nav button {
        background: none;
        color: slategray;
        font-family: "Montserrat", sans-serif;;
        cursor: pointer; 
        border: 0;
        font-size: 20px;
    }
    /* on mobile, display image as max 95% of available width*/
    img {
        max-width: 95%;
    }
}