<!--
File: base.html
Author: Esha Wadher (eshaaw@bu.edu), 02/13/2026
Description:
Base template for the Mini Insta website. This file defines the
overall page layout and includes the shared navigation bar and
content blocks that other templates extend.
-->

{% load static %}
<html>

<head>
    <title>MINI INSTA</title>
    <link rel="stylesheet" href="{% static 'styles-blog.css' %}?v=1">
</head>

<body>
    <header>
        <h1> Mini Insta</h1>
        <nav>
            <a href="{% url 'show_all_profiles' %}">All Profiles</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
    <footer>
        <a href="{% url 'show_all_profiles' %}">
            Back to all profiles
        </a>
    </footer>

</body>

</html>