<!--
File: show_post.html
Author: Esha Wadher (eshaaw@bu.edu), 02/13/2026
Description:
Template that displays a single post and all its associated photos.
-->

{% extends 'mini_insta/base.html' %}
{%block content%}
<div class="content-container">
    <h2> Post by <a href="{% url 'show_profile' post.profile.pk%}">@{{post.profile.username}}</a></h2>
    <p>{{post.caption}}</p>
    <p style="color: grey; font-size: 0.85em;">{{post.timestamp}}</p>

    <a href="{% url 'update_post' post.pk %}">Update</a>
    <a href="{% url 'delete_post' post.pk %}">Delete</a>


    <h3>Photos</h3>
    {% for photo in post.get_all_photos %}
    <div styles="margin:10px 0;">
        <img src="{{ photo.get_image_url }}" alt="photo" style="width: 100%; max-width: 600px; border-radius: 8px;">
    </div>
    {%empty%}
    {% endfor %}

    <p>{{ post.get_likes.count }} Likes</p>
    <h3>Comments</h3>
    {% for comment in post.get_all_comments %}
    <div>
        <strong>@{{ comment.profile.username }}</strong>: {{ comment.text }}
        <p style="color: grey; font-size: 0.85em;">{{ comment.timestamp }}</p>
    </div>
    {% empty %}
    <p>No comments yet.</p>
    {% endfor %}

    <br>
    <a href="{%url 'show_profile' post.profile.pk %}">Back to Profile</a>

</div>
{% endblock %}