<!--
File: update_profile_form.html
Author: Esha Wadher (eshaaw@bu.edu), 02/20/2026
Description:
Template that updates the form of a new Post.
-->


{% extends 'mini_insta/base.html'%}
{% block content%}

<div class="content-container">
    <h2>Update Profile for @{{profile.username}}</h2>
    <form action="{%url 'update_profile' profile.pk %}" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit">Save</button>
        <a href="{% url 'show_profile' profile.pk%}">
            <button type="button">Cancel</button>
        </a>
    </form>
</div>
{%endblock%}
